## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(columns=['EIN', 'NAME'], inplace=True)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
unique_counts = application_df.nunique()
unique_counts

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
application_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   APPLICATION_TYPE        34299 non-null  object
 1   AFFILIATION             34299 non-null  object
 2   CLASSIFICATION          34299 non-null  object
 3   USE_CASE                34299 non-null  object
 4   ORGANIZATION            34299 non-null  object
 5   STATUS                  34299 non-null  int64
 6   INCOME_AMT              34299 non-null  object
 7   SPECIAL_CONSIDERATIONS  34299 non-null  object
 8   ASK_AMT                 34299 non-null  int64
 9   IS_SUCCESSFUL           34299 non-null  int64
dtypes: int64(3), object(7)
memory usage: 2.6+ MB

In [5]:
# unique_counts of 'APPLICATION_TYPE', 'CLASSIFICATION' and 'ASK_AMT' > 10, but type of 'ASK_AMT' is int64 (not categorical column) =>
# => no need of binning

In [6]:
# Look at APPLICATION_TYPE value counts for binning
value_counts_APPLICATION_TYPE = application_df['APPLICATION_TYPE'].value_counts()
value_counts_APPLICATION_TYPE

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(value_counts_APPLICATION_TYPE[value_counts_APPLICATION_TYPE<500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts for binning
value_counts_CLASSIFICATION = application_df['CLASSIFICATION'].value_counts()
value_counts_CLASSIFICATION

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [9]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#classification_more_than_one = application_df['CLASSIFICATION'].value_counts() > 1
CLASS_count_more_one = value_counts_CLASSIFICATION[value_counts_CLASSIFICATION>1]
CLASS_count_more_one

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(value_counts_CLASSIFICATION[value_counts_CLASSIFICATION<1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)
application_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [12]:
# Split our preprocessed data into our features and target arrays
y = application_df.IS_SUCCESSFUL
X = application_df.drop(columns = ['IS_SUCCESSFUL'], axis=1)

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [45]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
num_inp_features = len(X_train_scaled[0])
nodes_first_layer = 100
nodes_second_layer = 50
nodes_third_layer = 25
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=nodes_first_layer, activation="relu", input_dim=num_inp_features))


# Second hidden layer
nn.add(tf.keras.layers.Dense(units=nodes_second_layer, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=nodes_third_layer, activation="relu"))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="tanh"))


# Check the structure of the model
nn.summary()

Model: "sequential_6"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_19 (Dense)            (None, 100)               4400

 dense_20 (Dense)            (None, 50)                5050

 dense_21 (Dense)            (None, 25)                1275

 dense_22 (Dense)            (None, 1)                 26

=================================================================
Total params: 10,751
Trainable params: 10,751
Non-trainable params: 0
_________________________________________________________________

In [46]:
# Compile the model
nn.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics=['accuracy'])

In [47]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 3s 2ms/step - loss: 0.6571 - accuracy: 0.7145
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6125 - accuracy: 0.7265
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5938 - accuracy: 0.7274
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5809 - accuracy: 0.7264
Epoch 5/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5717 - accuracy: 0.7294
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5667 - accuracy: 0.7292
Epoch 7/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5687 - accuracy: 0.7271
Epoch 8/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5644 - accuracy: 0.7312
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5593 - accuracy: 0.7301
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5633 - accuracy: 0.7304
Epoch 11/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5656 - accuracy: 0.7304
Epoch 12/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5629 - accuracy: 0.7325
Epoch 13/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5591 - accuracy: 0.7324
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5629 - accuracy: 0.7322
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5615 - accuracy: 0.7321
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5629 - accuracy: 0.7293
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5574 - accuracy: 0.7325
Epoch 18/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5590 - accuracy: 0.7325
Epoch 19/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5529 - accuracy: 0.7341
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5572 - accuracy: 0.7332
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5561 - accuracy: 0.7342
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5552 - accuracy: 0.7336
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5572 - accuracy: 0.7346
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5553 - accuracy: 0.7336
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5543 - accuracy: 0.7328
Epoch 26/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5517 - accuracy: 0.7346
Epoch 27/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5509 - accuracy: 0.7352
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5510 - accuracy: 0.7345
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5529 - accuracy: 0.7359
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5515 - accuracy: 0.7349
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5493 - accuracy: 0.7357
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5537 - accuracy: 0.7350
Epoch 33/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5594 - accuracy: 0.7361
Epoch 34/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5510 - accuracy: 0.7357
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5493 - accuracy: 0.7369
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5498 - accuracy: 0.7363
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5508 - accuracy: 0.7366
Epoch 38/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5618 - accuracy: 0.7357
Epoch 39/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5621 - accuracy: 0.7371
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5561 - accuracy: 0.7375
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5632 - accuracy: 0.7370
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5627 - accuracy: 0.7364
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5619 - accuracy: 0.7359
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5554 - accuracy: 0.7373
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5536 - accuracy: 0.7357
Epoch 46/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5498 - accuracy: 0.7364
Epoch 47/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5546 - accuracy: 0.7360
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5634 - accuracy: 0.7378
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5462 - accuracy: 0.7371
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5486 - accuracy: 0.7371
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5547 - accuracy: 0.7364
Epoch 52/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5488 - accuracy: 0.7374
Epoch 53/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5455 - accuracy: 0.7380
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5457 - accuracy: 0.7366
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5447 - accuracy: 0.7377
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5466 - accuracy: 0.7374
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5450 - accuracy: 0.7377
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5457 - accuracy: 0.7371
Epoch 59/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5477 - accuracy: 0.7378
Epoch 60/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5537 - accuracy: 0.7376
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5722 - accuracy: 0.7376
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5585 - accuracy: 0.7378
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5561 - accuracy: 0.7376
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5557 - accuracy: 0.7377
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5557 - accuracy: 0.7378
Epoch 66/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5595 - accuracy: 0.7377
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5656 - accuracy: 0.7374
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5699 - accuracy: 0.7378
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5560 - accuracy: 0.7373
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5633 - accuracy: 0.7371
Epoch 71/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5587 - accuracy: 0.7387
Epoch 72/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5558 - accuracy: 0.7389
Epoch 73/100
804/804 [==============================] - 3s 3ms/step - loss: 0.6000 - accuracy: 0.7377
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5584 - accuracy: 0.7399
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5567 - accuracy: 0.7390
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5558 - accuracy: 0.7395
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5546 - accuracy: 0.7385
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5569 - accuracy: 0.7397
Epoch 79/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5539 - accuracy: 0.7385
Epoch 80/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5550 - accuracy: 0.7388
Epoch 81/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5590 - accuracy: 0.7381
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5544 - accuracy: 0.7383
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5508 - accuracy: 0.7396
Epoch 84/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5442 - accuracy: 0.7392
Epoch 85/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5434 - accuracy: 0.7397
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5458 - accuracy: 0.7391
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5510 - accuracy: 0.7400
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5492 - accuracy: 0.7387
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5501 - accuracy: 0.7397
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5527 - accuracy: 0.7395
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5476 - accuracy: 0.7391
Epoch 92/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5435 - accuracy: 0.7392
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5471 - accuracy: 0.7394
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5425 - accuracy: 0.7391
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5521 - accuracy: 0.7392
Epoch 96/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5496 - accuracy: 0.7390
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5450 - accuracy: 0.7389
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5461 - accuracy: 0.7381
Epoch 99/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5458 - accuracy: 0.7394
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5453 - accuracy: 0.7385

In [48]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5829 - accuracy: 0.7262 - 455ms/epoch - 2ms/step
Loss: 0.5829094648361206, Accuracy: 0.7261807322502136

In [49]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization2.h5")
from google.colab import files
files.download("AlphabetSoupCharity_Optimization2.h5")